body{
	margin-top: 0;
	max-width: 1260px;
	background-color: #FFFF94;
	font-size: 16px;
}
nav{
	max-width: 900px;
	text-align: center;
	background-color: #B2D1FF;
	margin-right: auto;
	margin-left: auto;
}
nav ul{
	list-style-type: none;
}
nav ul li{
	display: inline;
	padding-right: 6px;
}
nav ul li a{
	text-decoration: none;
	color: #FFF;
}
nav a:link{
	color:#FFF;
}
nav a:hover{

}
#layout{
	max-width: 900px;
	margin: 0 auto;
}
#media{
	max-width: 200px;
	position: fixed;
	text-align: center;
}
#media ul{
	list-style-type: none;
}
#media ul li{
	text-decoration: none;
}
button{
	color: #FFF;
	background-color: #B2D1FF;
	cursor: pointer;
}
/*index.html*/
h1{
	color:#B2D1FF;
	font-size: 28px;
	text-align: center;
	margin: auto;
}
h2{
	color: #FF0066;
	font-size: 16px;
	text-align: center;
}
#image{
	text-align: center;
}
/*about me*/

#about{

}
#about ul{
	list-style-type: none;
}
#bio{
	float: left;
	background-color: #FFFFB2;
	max-width: 350px;
	margin-left: 250px;
	font-size: 16px;
}
#favorites{
	float:left;
	max-width: 350px;
}
#favorites ul{
	list-style-type: none;
}
#favorites li,a{
	text-decoration: none;
}

/*photo diary*/
#photo_gallery{
	max-width: 740px;
	height: 161px;
	margin-right: auto;
	margin-left: auto;
}
#photo_gallery img{
	float: left;
	padding-right: 5px;
	margin-top: auto;
	margin-bottom: auto;

}
#main_photo{
	clear:both;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}
figcaption{
	font-size: 14px;
	border-style: dotted;
	border-color: #B2D1FF;
	max-width: 300px;
	margin-right: auto;
	margin-left: auto;
}