body{
	width: 900px;
}
#layout{
	max-width: 900px;
}
nav{
	max-width: 200px;
	margin-left: auto;
	margin-right: auto;
}
nav ul{
	list-style-type: none;

}
nav li{
	display: inline;
}
nav ul li a{
	text-decoration: none;
}
#background_image{
	width: 900px;
	margin-right: auto;
	margin-left: auto;
}